@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');

.navigationbar{
    margin-top: 2.5em;
    margin-bottom: 15em;
    margin-left: 5em;
    margin-right: 5em;
}

.textcontainer {
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    color: black;    
    margin-bottom: 5em;
}

.textcontainer p {
    font-family: 'Open Sans', sans-serif;
    color: hsl(192, 100%, 9%);
    max-width: 30em;
    font-size: 25px;
    font-weight: 400;
    margin: auto;
    margin-bottom: 1.5em;
}

.btn {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    background-color: pink;
    padding: 1.5em;
    border-radius: 3em;
    width: 25em;
    color: white;
}