@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');

.navigationbar{
    margin-top: 2.5em;
    margin-bottom: 15em;
    margin-left: 5em;
    margin-right: 5em;
}

.textcontainer {
    font-size: 50px;
    font-family: 'Open sans', sans-serif;
    color: black;    
    margin-bottom: 5em;
}

.textcontainer p {
    font-family: 'Open Sans', sans-serif;
    align-self: start;
    color:black;
    max-width: 30em;
    font-size: 25px;
    font-weight: 400;
    margin: auto;
    margin-bottom: 1.5em;
}

.btn {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    background-color: pink;
    padding: 1.5em;
    border-radius: 3em;
    width: 25em;
    color: white;
    margin: auto;
    margin-bottom: 1.5em;
}

.image2 {
    margin: auto;
    margin-bottom: 5em;
}

.counts {
    max-width: 45em;
    margin: auto;
}

.counts p {
    font-family: 'Open Sans', sans-serif;
    color: black;
}

.pointsimg{
    margin-top: 5em;
    width: 100%;
    height: 23vh;
}

.pointsimg2{
    max-width: 100%;
    height: 23vh;
}

.secondpoint2 img{
    max-width: width 96px; 
    height: auto;
}

.thirdpointsimg{
    margin-top: 5em;
    width: 100%;
    height: 22x;
}

.thirdpoints{
    background-color: white;
    padding: 5em;
}

.secondpointpg {
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    color:black;
    margin-top: 5em;
    padding: 5em;
}

.thirdpointsimg2{
    width: 100%;
    height: 23vh;
}

button{
    margin-top: 2em;
    font-weight: 600;
    font-size: 20px;
    background-color: pink;
    padding: 1.5em;
    border-radius: 3em;
    width: 25em;
    color: white;
}

.footers{
    margin-bottom: -5em;
    background-color: hsl(192, 100%, 9%);
    padding: 10em;
}

.text-center {
    font-family: 'Open Sans', sans-serif;
    color: black;
    max-width: 30em;
    font-size: 25px;
    font-weight: 400;
    margin: auto;
    margin-bottom: 1.5em;
}

