@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');


*{
    margin: 0;
    padding: 0;
}

#hlogo{
    max-width: 15em;
}

.navigationbar{
    margin-top: 2.5em;
    margin-bottom: 15em;
    margin-left: 5em;
    margin-right: 5em;
}

.navigationbar #navbtn{
    border: 1px solid pink;
    color: pink;
    border-radius: 2em;
    padding: 0.7em;
    width: 10em;
}

.col1{
    margin-bottom: 5em;
}

.col1 h1{
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    color: hsl(192, 100%, 9%);
}

.col1 p{
    font-family: 'Open Sans', sans-serif;
    color: black;
    max-width: 30em;
    font-size: 25px;
    font-weight: 400;
    margin: auto;
    margin-bottom: 1.5em;
}

.col1 #headtextsbtn{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    background-color:hotpink;
    padding: 1.5em;
    border-radius: 3em;
    width: 25em;
    color: white;
}

.col1 #headtextsbtn:hover{
    background-color: pink;
}

.col2img{
    margin: auto;
    margin-bottom: 5em;
}

#counts{
    max-width: 50em;
    margin: auto;
}



#counts h1{
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    color: black;
}

#counts p{
    font-family: 'Open Sans', sans-serif;
    color: black;
}

.pointsimg{
    margin-top: 5em;
    width: 100%;
    height: 23vh;
}

.points{
    background-color: white;
    padding: 5em;
}

.pointsimg2{
    max-width: 100%;
    height: 23vh;
}

.point1 h1{
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    color: black;
}

.point1 p{
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-weight: 600;
    max-width: 32em;
}

.point2{
    max-width: 45em;
}

.point2 img{
    width: 100%;
    height: auto;
}

.secondpoints{
    margin-top: 5em;
    padding: 5em;
}

.secondpoint1 h1{
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    color: black;
}

.secondpoint1 p{
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-weight: 600;
    max-width: 32em;
}

.secondpoint2{
    max-width: 45em;
}

.secondpoint2 img{
    max-width: 100%;
    height: auto;
}

.thirdpointsimg{
    margin-top: 5em;
    width: 100%;
    height: 23vh;
}

.thirdpoints{
    background-color: white;
    padding: 5em;
}

.thirdpointsimg2{
    width: 100%;
    height: 23vh;
}

.thirdpoint1 h1{
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    color: black;
}

.thirdpoint1 p{
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-weight: 600;
    max-width: 32em;
}

.thirdpoint2{
    max-width: 45em;
}

.thirdpoint2 img{
    max-width: 100%;
    height: auto;
}

#cta{
    margin-top: 10em;
    margin-bottom: 10em;
}

#cta h1{
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    color: black;
}

#cta button{
    margin-top: 2em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    background-color:hotpink;
    padding: 1.5em;
    border-radius: 3em;
    width: 25em;
    color: white;
    border: none;
}

#cta button:hover{
    background-color: pink;
}

#footerimg{
    width: 100%;
    height: 23vh;
}

#footers{
    margin-bottom: -5em;
    background-color: black);
    padding: 10em;
}

    .navigationbar{
        margin-top: 1em;
        margin-bottom: 7em;
        margin-left: 1em;
        margin-right: 1em;
    }

    .navigationbar #navbtn{
        padding: 0.3em;
        max-width: 7em;
    }
    
    .col1 h1{
        font-size: 30px;
    }
    
    .col1 p{
        font-size: 15px;
    }
    
    .col1 #headtextsbtn{
        font-size: 15px;
        padding: 1em;
        border-radius: 3em;
        max-width: 100%;
    }